.body {
	flex: 0.87;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: rgb(27, 27, 29);
	overflow-y: overlay;
}
.body__container {
	height: 80%;
	padding: 30px;
	color: white;
}
.body__grey {
	background-color: rgb(46, 46, 48);
}
.body__dark {
	padding: 0px 30px 70px 30px;
	background-color: rgb(27, 27, 29);
}
.body::-webkit-scrollbar {
	display: none;
}

.body__info {
	display: flex;
	align-items: flex-end;
	padding-top: 10px;
}
.body__info img {
	height: 16vw;
	min-height: 190px;
	margin-right: 20px;
	box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
}
.body__infoText {
	flex: 1;
}

.body__infoText h2 {
	font-size: 4vw;
	margin-bottom: 10px;
	margin: 0;
}

.body__infoText p {
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}
.body__infoText p:hover {
	border-bottom: .5px solid white;
}
.duration {
	display: flex;
	align-items: center;
}
.duration h1 {
	padding: 0px 4px;
	font-size: 20px;
	opacity: .7;
}
.duration .total-hours {
	opacity: .7;
	font-size: 14px;
}

.body__songs {
	margin: 20px -30px;
	margin-top: 10px;
}
.body__icons {
	display: flex;
	align-items: center;
}
.body__icons > .MuiSvgIcon-root {
	margin-right: 20px;
}
.body__icon {
	font-size: 30px !important;
	color: white;
	opacity: .7;
}
.body__icon:hover {
	opacity: 1;
}
.body__playIcon {
	font-size: 70px !important;
	color: #38c76a !important;
	margin: 20px 0px 20px 50px;
}

.body__playIcon:hover {
	transition: 0.1s transform ease-in;
	transform: scale(1.05);
}

.recommend-title {
	padding-left: 40px;
	margin-top: 90px;
	color: white;
}

.section-container {
	height: 18vw;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.body__emptySongList {
	padding-bottom: 120px;
}
.section-container {
	display: grid;
	place-items: center;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 18vw;
	width: 30vw;
	min-width: 250px !important;
	color: white;
}
section .disc-icon {
	font-size: 5vw !important;
}
section h2 {
	font-size: 2.1vw;
	margin-top: 12px;
	word-spacing: -2px;
}
section h5 {
	font-size: 1.6vw;
	margin-top: 3px;
	font-weight: 400;
}
section button {
	padding: 12px 20px;
	margin-top: 15px;
	border-radius: 20px;
	border: none;
	min-width: 180px;
	font-size: 12px;
	font-weight: 600;
	color: black;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
}
section button:hover {
	transition: 100ms ease-in;
	transform: scale(1.09);
}

.playlists {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 140px;
}
.empty-playlist {
	font-size: 18px;
	opacity: .99;
}
.empty-playlist p {
	font-size: 14px;
	font-weight: 500;
	opacity: .7;
}
.body__icons button {
	display: none;
}

@media (max-width: 767px) {
	.body {
		flex: 1;
		background-color: rgb(20, 18, 18);
	}
	.empty-title {
		font-size: 7vw;
		margin-top: 40px;
	}
	.empty-playlist {
		font-size: 5vw;
	}
	.empty-playlist p {
		font-size: 4vw;
	}

	.body__container {
		padding: 20px;
		padding-top: 10px;
	}

	.body__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 40px;
	}
	.body__info img {
		margin-right: 0;
		min-height: 150px;
	}

	.body__infoText strong {
		display: none;
	}
	.body__infoText h2 {
		font-size: 23px;
		text-align: center;
		margin-top: 5px;
	}
	.body__infoText .duration {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.body__dark {
		padding: 0 10px;
		padding-bottom: 20px;
		margin-top: 300px;
		background-color: black;
		z-index: 1 !important;
	}
	.body__grey {
		position: absolute;
		top: 0;
		padding-bottom: 12px;
		background-color: rgb(29, 28, 28);
		width: 100%;
		height: 128px;
	}
	.body__icons .body__icon,
	.body__icons .body__playIcon {
		display: none;
	}
	.body__icons {
		display: grid;
		place-items: center;
	}

	.body__icons button {
		display: flex;
		background-color: #0caa21;
		padding: 10px 20px;
		border: none;
		border-radius: 99px;
		font-weight: 800;
		color: white;
		margin-top: -20px;
		cursor: pointer;
		outline: none;
	}
	.body__icons button:hover{
		background-color: #19b82e;
	} 
	.body__songs {
		margin: 0;
	}

	.body__emptySongList {
		padding-bottom: 80px;
		color: white;
	}

	section {
		color: white;
	}
	section .disc-icon {
		font-size: 30px !important;
	}
	section h2 {
		font-size: 14px;
	}
	section h5 {
		font-size: 12px;
		font-weight: 500;
	}

	.recommend-title {
		font-size: 18px;
		margin-bottom: 5px;
		margin-top: 40px;
		opacity: .8;
		color: #0caa21;
	}
}
