
.body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87,115), rgba(0, 0, 0, 1));

    height: 100vh;
}
.body__container {
    height: 80%;
    padding: 30px;
    color: white;
    overflow-y: overlay;
    
}
.body__container::-webkit-scrollbar {
    display: none;
  }

.body__info {
    display: flex;
    align-items: flex-end;
    padding-top: 10px; 
}
 .body__info img{
    height: 16vw;
    min-height: 190px;
    margin-right: 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
} 
.body__infoText{
    flex: 1;

}



.body__infoText h2 {
    /* font-size: 48px; */
    font-size: 6vw;
    margin-bottom: 10px;
    margin: 0;
}

.body__infoText p {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
} 
.body__infoText p:hover{
    border-bottom: .5px solid white;
}
.duration{
    display: flex;
    align-items: center;
    
}
.duration h1{
    transform: translateY(-7px);
    padding: 0px 4px;
    font-size: 25px;
    opacity: .7;
}
.duration .total-hours{
    opacity: .7;
    font-size: 14px;
}

.body__songs{
    margin: 20px -30px;
    
}
.body__icons {
    display: flex;
    align-items: center;
}
.body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
}
.body__icon {
    font-size: 30px !important;
    color: white;
    opacity: .7;
}
.body__icon:hover{
    opacity: 1;
}
.body__shuffel {
    font-size: 70px !important;
    color: #1db954 !important;
    margin: 20px 0px 20px 50px;
}

.body__shuffel:hover {
    transition: 0.1s transform ease-in;
    transform: scale(1.08);
}
.empty-list{ 
    height: 18vw;
    display: grid;
    place-items: center;
}
.empty-list section{
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vw;
    width: 30vw;
    min-width: 250px !important;
}
.empty-list section .disc-icon{
    font-size: 5vw !important;
}
.empty-list section h2{
    font-size: 2.1vw;
    margin-top: 12px;
    word-spacing: -2px;
}
.empty-list section h5 {
    font-size: 1.6vw;
    margin-top: 3px;
    font-weight: 400;
}
.empty-list section button{
    padding: 12px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    min-width: 180px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    cursor: pointer;
}
.empty-list section button:hover{
    transition: 100ms ease-in;
    transform: scale(1.09);
}