

.footer {
    position: fixed;
    display: none;
    justify-content: space-between;
    bottom: 0;
    height: 52px;
    width: 97%;
    background-color: #282828;
    padding: 20px 10px;
}

  


.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}

.footer__songInfo h4{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    overflow: scroll;
    cursor: pointer;
}
.footer__songInfo p {
    font-size: 10px;
    overflow: scroll;
    cursor: pointer;
}
.footer__songInfo h4::-webkit-scrollbar {
    display: none;
  }
  .footer__songInfo p::-webkit-scrollbar {
    display: none;
  }
.footer__songInfo h4:hover,.footer__songInfo p:hover {
    border-bottom: 1px solid white;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}


.play-btn:hover {
    
    color: white;
    transition: transform 0.2s ease-in-out;
    transform:scale(1.1) !important;

}
.footer__icon:hover {
    color: white;
}

.footer__right {
    flex: 0.3;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: grey;
    
}

.footer__right * .MuiSlider-root {
    color: gray;
}
.footer__right * .MuiSlider-root:hover{
    color: green;
}
.footer__albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 7px;
    object-fit: contain;
    cursor: pointer;
}
