.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.header__left {
	flex: 0.5;
	min-width: 70px;
	background-color: white;
	color: gray;
	border-radius: 30px;
	display: flex;
	padding: 10px;
	align-items: center;
}

.header__left input {
	border: none;
	width: 100%;
	outline: none;
}

.header__right {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 20px;
	padding-right: 10px;
}
.header__right:hover {
	background: rgba(192, 192, 192, 0.164);
	transition: 100ms ease-in-out;
}
.header__right > h4 {
	margin-left: 10px;
}

@media (max-width: 767px) {
	.header {
		position: fixed;
		background-color: rgb(29, 28, 28);
		width: 100vw;
		right: 0;
		top: 0;
		height: 50px;
		z-index: 90;
		display: flex;
		justify-content: flex-end;
	}
	.header__avatar {
		width: 30px !important;
		height: 30px !important;
	}
	.header__left {
		display: none;
	}
	.header__right {
		font-size: 12px;
	}
}
